<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
			<activity android:name=".MainActivity">
				<intent-filter>
          <data android:scheme="satochip-connect-internal" />
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
        <intent-filter android:autoVerify="true">
          <data android:scheme="https"/>
          <data android:host="satochip.io"/>
          <data android:pathPrefix="/satochip_connect_internal"/>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
			</activity>
	</application>
</manifest>